.btn {
  width: 192px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #8a33fd;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    border-radius: 8px;
    background-color: transparent;

  &-card{
    width: 100px;
    font-size: 15px;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
    border: none;
    background: #f6f6f6;
    font-family: Euclid, sans-serif;
    color: darkslategray;
}
  &_margin {
      margin-right: 20px;
    }
}

.btn-violet{
  background: #8a33fd;
  color: #fff;
  border: #8a33fd;
}


