.container {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.header-nav{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    &__menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 40px;
    }

    &__item{
        list-style: none;
        display: flex;
        font-size: 25px;
        font-family: Euclid, sans-serif;
        
    }

    &__icons-box{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        list-style: none;
    }
}

a{
text-decoration: none;
color: darkslategray;
}

.star__icon, .cart__icon{
    cursor: pointer;
}