*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Euclid, sans-serif;
}
a{
    text-decoration: none;
}

.footer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: start;
    padding: 30px;

    &__nav{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;

    }
    &__title{
        font-size: 14px;
        font-weight: 600px;
        text-transform: uppercase;
        
        margin-bottom: 32px;

    }
    &__list{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
        gap: 12px;
    }
    &__sotial-list{
        display: flex;
        gap: 16px;

    }
    &__sotial-icon{
        background-color: black;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}